    .contact{
          padding: 15rem 0;
          color: $color-white;
      .contact-box{
            text-align: center;

        &__title{
              padding-top: 5rem;
              color: $color-works-primary;
            }

        .contact-links{
            font-size: $font-default;
            padding: 4rem;
            &__content{
                margin: 2rem;
                display: inline-block;
            }

            .link-colored:hover{
                color: $color-works-primary;
            }
        }
      }
    }
    small{
        font-size: $font-default;
    }