.hero{
    background-image: linear-gradient(
        rgba($color-primary,0.3),
        rgba($color-primary,0.5)),
        url('/upload/tokyo-2269010_1280.jpg');
    background-size: cover;
    background-position: top;
    position: relative; 
    height: 80rem;
    color: $color-white;

    .heading-primary{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        &__title{
            animation:fadeInTitle .5s ease-in .6s;
            animation-fill-mode: backwards;   
        }
        &__publisher{
            font-size: 2rem;
            text-align: end;
            animation:moveInRight .5s ease-in 1.5s;
            animation-fill-mode: backwards;               
          }
    }
    
    &__box{
        position: absolute;
        top: 85%;
        left: 50%; 
        transform: translate(-50%,-50%);
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, minmax(25vw, 1fr));
        justify-items: center;

        .hero-menu{
            text-align: center;
            text-transform: uppercase;
            transition: all .4s;
            animation:moveInBottom .5s ease-in 1.5s;
            animation-fill-mode: backwards; 
            
            a{
                cursor: pointer;
            }
            &__text{
                margin-bottom: 2rem;
                color: crimson;

            }
            &__image{
                width: 11rem;
            }

            &:hover{
                transform: scale(1.1) translateY(2rem);
            }
        }

    }

}