.works-show{
    background-color: $color-secondary;
    position: relative;
    overflow: hidden;

    .show-link{
        padding: 3rem 0;
        cursor: pointer; 
        transition: all .5s;
        align-items: center;
        position: relative;
        z-index: 100;
        
        &__text{
            padding: 2rem 0;
        }

        &:hover{
            transform: translateX(-1rem);
        }
    }

    .show-main{
        padding: 10rem 0;        

        &__title{
            text-align: center;
            color: $color-works-primary;   
        }

        .title-box{
            display: flex;
            align-items: center;
            margin: 6rem 0;
            justify-content: center;

        }
        
        .contents{
            font-size: $font-default;
            margin-top: 3rem;

            @include respond(tab-port){
                flex-direction: column-reverse;
            }

            .detail-left{
                @include respond(tab-port){
                    align-items: center;
                    margin-top: 10rem;
                }

                &__caption{
                    font-size: 2rem;
                    justify-content: space-between;
                    width: 80%;
                    margin-bottom: 3rem;
                    color: $color-works-primary;
                    &--2{
                        margin-top: 3rem;
                    }
                }

                &__paragraph{
                    width: 80%;
                    p{
                        margin-top: 2rem;
                    }
                }
                &__view-link{
                    margin: 3rem;
                    text-align: center;
                    a{
                        color: $color-works-primary;
                        font-size: 2rem;
                        &:hover{
                            color: $color-primary;
                        }
                    }
                }

                &__link{
                    margin-top: 7rem;
                }
            }
            .detail-right,.detail-images{
                &__image{
                    width: 100%;

                    &--2{
                        margin-top: 10rem;
       
                    }
                }
            }
            // Tool List
            .detail-list{
                &__info{
                    margin: 2rem auto;
                    text-align: center;
                    border-bottom: 1px solid $color-works-primary;
                    font-size: 2.5rem;
                    padding: 3rem;
                }
            }
            
            // Show_3
            .info-tool{
                text-align: center;
                width: 70%;
                margin: 0 auto;
                
                &__caption{
                    color: $color-works-primary;
                    font-size: 4rem;
                    font-weight: 700;
                    letter-spacing: 0.3rem;
                }
            }
            .info{
                &__paragraph{
                    text-align: left;
                    line-height: 3rem;
                    margin-bottom: 4rem;
                }

                &__view-link{
                    display: flex;
                    justify-content: center;
                    gap: 2rem;

                    @include respond(phone){
                        flex-direction: column;
                    }
                    a{
                        color: $color-works-primary;
                        font-size: 3rem;
                        &:hover{
                            color: $color-primary;
                        }
                    }
                }
            }
            .tool{
                margin-bottom: 15rem;
            }
        }
    }
}

// Kinesis
    // Bubble icon
    .bubble{
        fill: $color-works-primary;
        opacity: .8;
    }
    .float-bubble{
        position: absolute;
        z-index: -100;
    }

